@import "./variables";

@mixin border {
  border: 1px solid $table_bor_color;
  border-radius: $table_border_radious;
}

@mixin cellBorder {
  border-right: 1px solid $table_bor_color;
  border-bottom: 1px solid $table_bor_color;
  padding: $table_padding;
  &:last-child {
    border: none;
    border-bottom: 1px solid $table_bor_color;
  }
}

@mixin headingFontSize {
  color: $table_head_color;
  font-size: 16px;
  font-weight: 500;
}

@mixin svgImag {
  svg {
    width: 18px;
    height: 18px;
  }
}

@mixin buttonstyle {
  @include border;
  background-color: white;
  color: $table_head_color;
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 5px 10px;
  @include svgImag;
}
